@import './header.css';
@import './main.css';
@import './aside.css';
@import './footer.css';
@import './utils.css';

* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  display: grid;
  grid-template:
    'header header' 66px
    'aside main' calc(100vh - 66px) / 240px 1fr;
  overflow: visible;
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.aside {
  grid-area: aside;
}
.header,
.main-section,
.footer,
.main-categories,
.main-videos {
  padding-left: 16px;
  padding-right: 16px;
}
.header,
.main-section {
  padding-top: 14px;
  padding-bottom: 14px;
}

@media screen and (max-width: 1200px) {
  .body {
    grid-template:
      'header header' 66px
      'aside main' calc(100vh - 66px) / 80px 1fr;
  }
}

::-webkit-scrollbar {
  display: none;
}
