.main {
  display: grid;
  grid-template-rows: 66px 1fr 66px;
  overflow: auto;
}

.main-categories,
.main-videos {
  width: calc(100vw - 240px);
}
.main-categories {
  overflow: hidden;
}

.categories-menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  gap: 10px;
  list-style-type: none;
  padding: 21px;
  overflow: auto;
}
.categories-menu > li > a {
  background: lightgray;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: cursive;
}
.categories-menu > li > a:hover {
  cursor: pointer;
  background: lightslategray;
}
.categories-menu > li:first-child > a {
  background: orange;
  color: white;
}
.categories-menu > li:first-child > a:hover {
  cursor: pointer;
  background: chocolate;
}

@media screen and (max-width: 1200px) {
  .main-categories,
  .main-videos {
    width: calc(100vw - 80px);
  }
}
